@model List<Tag>
<ul>
@foreach(var tag in Model){
                                <li>
                                    
                                    <a href="/categories/@tag.TText">@tag.TText</a>
                                </li>
                                }
                               
                            </ul>